    <div class="equip-tooltip" id="equipTooltip">
        <div class="tt-enchant" id="ttEnchant"></div>
        <div class="tt-craft" id="ttCraft"></div>
        <div class="tt-main">
            <div class="tt-close" id="ttCloseBtn">×</div>
            <div class="tt-header">
                <div class="tt-icon" id="ttIcon">⚔</div>
                <div class="tt-title">
                    <div class="tt-name" id="ttName">装备名称</div>
                    <div class="tt-type" id="ttType">装备类型</div>
                </div>
            </div>
            <div class="tt-stats" id="ttStats"></div>
            <div class="tt-extra" id="ttExtra"></div>
            <div class="tt-desc" id="ttDesc">装备描述</div>
        </div>
    </div>
