**/__pycache__/
**/previews/*-source.gif
/animations/stitchface-headsman/previews/four-actions-overview.gif
/animations/waxface-mourner/previews/four-actions-overview.gif
**/sprite-build-v01/previews/rife/
*.log
